snippet header "Header"
/*-----------------------------------------------------------------------------*
 - @file      ${1:`!v expand("%:t")`}
 - @brief     ${2:The quieter you become, the more you are able to hear.}
 - @version   ${3:1.0.0}
 - @author    ${4:author}
 - @date      `!v strftime("%Y-%m-%d %H:%M:%S")`
 *-----------------------------------------------------------------------------*/

${0}
endsnippet
